@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Sistema de facturacion</h1>

    <p>Bienvenidos al Sistema de facturacion</p>
</div>

<div class="row" style="margin-left: 4px;">
    <p>
        <h2> Funciones disponibles:</h2>
        <ul class="list-group">
            <li class="list-group-item">
                Administrar clientes, proveedores y productos
            </li>
            <li class="list-group-item">
                Mantener un inventario y captura de los movimientos del stock
            </li>
            <li class="list-group-item">
                Hacer facturas
            </li>

        </ul>
    </p>
</div>